#Header{
    text-align: center;
}
#newListFormular{
    padding-left: 770px;
}
#makeNewList{
    margin-right: 30px;
}
#newList{
    padding-left: 850px;
}
#taBortBtn{
    margin-left: 30px;
    margin-bottom: 0;
}
.inline{
    display: inline-block;
}
#listObjectMargin{
    margin-bottom: 0;
}
#listLink{
    margin-top: 0;
}
