<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/styleUser.css"/>
    <script src="scriptUser.js" defer></script>
</head>
<body>
    <h1>Lägg till användare</h1>
        <div id="form2">
            <form th:action="@{/addUser}" method="post">
                <input type="text" placeholder="Ny användare" name="username" required>
                <input type="password" placeholder="Nytt lösenord" name="password" required>
                <input type="password" placeholder="Bekräfta lösenord" name="confirmPassword" required><br>
                <button type="submit">Spara</button>
            </form>
            <p th:if="${error}" th:text="${error}"></p><br>
        </div>
        <h1>Användarlista</h1>
            <ul>
                    <li th:each="user : ${users}">
                        <a th:href="@{/newListToAdd/{username}(username=*{user.username})}" th:text="${user.username}"></a>                   
                    <a th:href="@{/remove-user/{userId}(userId=${user.id})}"><button>Ta bort</button></a>
                </li>
            </ul>
        </div>
        <div id="form3">
            <a th:href="@{/}"><button>Till startsidan</button></a>
            <form method="post" th:action="@{logout}">
                <button id="logoutBtn">Logga ut</button>
            </form>
        </div>
</body>
</html>