<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startsida</title>
    <link rel="stylesheet" href="/styleUser.css"/>
    <script src="script.js" defer></script>
    <script th:inline="javascript">
        let users = /*[[${users}]]*/ [];
    </script>
</head>
<body>
    <h1 id = "todoheader">ToDo-List login</h1>
    <div id="form1">
   
    </form>
    
    </div>
    
</body>
</html>